.Faves {
    width: 230px;
    margin: 10px;
  }
  
  .Img {
    width: 240px;
    height: 140px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Text {
    margin-top: 10px;
  }
  
  .Percent {
    color: #2d3748;
    font-size: 1.2rem;
  }